@{
    ViewData["Title"] = "Startsida";
}

<div class="text-center">
    <h1 class="display-4">Välkommen Päron Inventory Flow</h1>
    <p>Behöver du <a href="https://www.exsitec.se/support">support? </a>Klicka på länken för hjälp.</p>
</div>
